body {
	background-color: lightgray;
	margin: 0px;
}

#avatar {
	width: 150px;
}

#img-wrapper {
	float: left;
	margin: 5px;
}

#topbar {
	background-color: gray;
	overflow: hidden;
}

#topbar a {
	color: white;
	text-decoration: none;
	font-size: 20px;
	padding: 15px;
	float: left;
}

#topbar a:hover {
	background-color: black;
}

#conteudo {
	clear: both;
}


#info {
	float: left;
	margin-left: 10px;
	margin-right: 10px;
}

p, li {
	font-size: 18px;
}

p {
	font-family: serif;
	text-align: justify;
}

.footer {
	clear: both;
	background-color: gray;	
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
}

.footer p, .footer a {
	text-align: center;
	font-size: 15px;
	color: black;
	text-decoration: none;
}

img {
	border-radius: 10%
}
