body {
	background-color: lightgray;
	margin: 0px;
}

#avatar {
	width: 250px;
}

#topbar {
	background-color: gray;
	overflow: hidden;
}

#topbar a {
	color: white;
	text-decoration: none;
	font-size: 20px;
	padding: 15px;
	float: left;
}

#topbar a:hover {
	background-color: black;
}

#conteudo {
	clear: both;
}

#img-wrapper {
	float: left;
	margin: 5px;
}

#info {
	float: left;
	margin-left: 10px;
	margin-right: 10px;
}

p, li {
	font-size: 18px;
}

p {
	font-family: serif;
	text-align: justify;
}

